@charset 'utf-8';
html {
    font-size: 62.5%
}

.img img{
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100vh;
}

.main-content {
    text-align: center;
    margin-top: 70px;
}

#site-title {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.explanation {
    margin-bottom: 78px;
    padding: 0 20px;
}

.explanation p {
    font-size: 1.7rem;
}



.flex ul {
    flex-direction: column;
}

.flex ul li img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (min-width: 835px) {
    
    .img img{
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100vh;
    }

    .main-content {
        text-align: center;
        margin-top: 70px;
    }
    
    #site-title {
        font-size: 3.3rem;
        margin-bottom: 1.5rem;
    }

    .explanation {
        margin-bottom: 78px;
    }

    .explanation p {
        font-size: 1.8rem;
    }

    .flex ul {
        display: flex;
    }
}